{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products-OnlineThrift</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="index.html"><img src="{% static 'images/thrift.jpg' %}" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'productpage' %}">Products</a></li>
                {% comment %} <li><a> href="{% url 'homepage' %}"</a></li>
                <li><a> href="" Contact</a></li> {% endcomment %}
                <li><a href="{% url 'accountpage' %}">Account</a></li>
                <li><a href="{% url 'cartpage' %}">Cart</a></li>
                <li><a href="{% url 'order_list' %}">Check My Order</a></li>
                <li><a href="{% url 'user_logout' %}">Logout</a></li>
                
            </ul>
        </nav>
    </div>

    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sorting</option>
                <option>Sort by price</option>
                <option>Sort by popularity</option>
                <option>Sort by rating</option>
                <option>Sort by sale</option>
            </select>
        </div>

        <div class="row">
            {% comment %} {% for product in products%}
            <div class="col-4">
                <img src="{% static 'images/red printed.jpg' %}" alt="Red Printed T-shirt">
                <h4>{% product.name%}</h4>
                <div class="rating">
                    {% for rating in range(1, product.rating)%}
                    <i class="fa fa-star"></i>
                    {% endfor%}
                </div>
                <p>{% product.price%}</p>
            </div>
            {% endfor%} {% endcomment %}

            {% for product in products %}     
            <div class="col-4">
                {% comment %} <a href="{% url 'productdetails' product.id %}"> //product id {% endcomment %}
                    <a href="{% url 'product_detail' product.id %}">
                <img src="  /products/{{product.image}}" > </a>
                <h4>{{product.name}}</h4>
                <p>Rs{{product.price}}</p>
                <p>Discounted Rs{{product.discounted_price}}</p>
                <p>{{product.}}</p>
            </div>
            
            {% endfor %}
           
        

           

            <div class="col-4">
                <img src="{% static 'images/red printed.jpg' %}" alt="Red Printed T-shirt">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>Rs50.0</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/red printed.jpg' %}" alt="Red Printed T-shirt">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>Rs50.0</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/red printed.jpg' %}" alt="Red Printed T-shirt">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>Rs50.0</p>
            </div>
        </div>

        <div class="pagebtn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>
</div>

<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download our app for Android and IOS mobile phones.</p>
                <div class="app-logo">
                    <img src="{% static 'images/google.png' %}" alt="Google Play">
                    <img src="{% static 'images/ios.jpg' %}" alt="App Store">
                </div>
            </div>
            <div class="footer-col-2">
                <a href="index.html"><img src="{% static 'images/thrift.jpg' %}" alt="Logo"></a>
                <p>Our purpose is to sustainably make the pleasure and benefits of sports accessible to the many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>    
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - No copying!</p>
    </div>
</div>

<!--js for toggle menu-->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px";
        } else {
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>

</body>
</html>
